<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>My Vue App</title>
</head>
<body>
    <div id="app" class="container">
        <h1>
            <button @click="purge">Purge</button>
            My Todos
            <span class="info">({{ remaining.length }}/{{ todos.length }})</span>
        </h1>
        <ul>
            <li v-for="(todo, index) in todos">
                <input type="checkbox" v-model="todo.isDone">
                <span :class="{done: todo.isDone}" >{{todo.title}}</span>
                <form @submit.prevent="editItem">
                    <input type="text" v-model="todo.editComment" v-show="editItemIsShown">
                    <input type="submit" value="Save" v-show="editItemIsShown">
                </form>
                <span @click="deleteItem(index)" class="command">[x]</span>
                <span @click="showEditItem()" class="command">[edit]</span>
            </li>
        </ul>
        <p v-show="!todos.length">No ToDo!</p>
        <form @submit.prevent="addItem">
            <input type="text" v-model="newItem">
            <input type="submit" value="add">
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="js/main.js"></script>
</body>
</html>

<!-- 
    編集ボタンを押す
    インプットタグに切り替わる/テキストは消える
    Saveボタンを押すとTodoが更新
-->